header{
    letter-spacing: -1px;
    text-align: center;
    font-size: 3rem;
    color: rgb(64, 7, 111);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: rgb(6, 6, 6);
}

h2{
    color: rgb(138, 0, 0);
    font-size: 2rem;
}

h3{
    color: rgb(101, 0, 0);
    font-size: 2rem;
}

main{
    height: 850px;
    width: 80%;
    background-color: black;
    margin: 0 auto;
    border: 2px solid rgb(63, 0, 0);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

a{
    color: rgb(101, 0, 0);
}

li{
    color: rgb(101, 0, 0);
}